@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');

header {
  background-color: #121212
}
body {
  background: linear-gradient(to bottom, #b7e5ff, #ffffff);
  font-family: 'Nunito', sans-serif;
}
h3 {
  color: #75879c;
}
h6{
  color: #75879c;
  padding-left: 15px;
}
a {
  text-decoration: none;
}
.section-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.desc-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.desc-title {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #121212;
}

.desc-text {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #333;
}