@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');


header {
  
  background-color: #121212
}
body {
  background-color: white;
}
h3 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #75879c;
}
h6{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #75879c;
  padding-left: 15px;
}
a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-decoration: none;
}

h1{
  
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
body{
    background: linear-gradient(to bottom, #b7e5ff, #ffffff);
  min-height: 100vh;
}
